<h1>About us</h1>
<p>We're a small group of young doctors who met about 8 years ago in medical school. Competitive with each other, and compassionate to others, we are always looking to make things better for everyone. And, we love to be the one who does it better than ourselves?!</p>
<p>We cover a wide spectrum of medical specialties, including Internal Medicine, Emergency Medicine, all the way to Neurosurgery. (yes, some of us have removed brain tumors!)</p>
<p>In addition to the doctors, our team includes a passionate group of Medical Assistants, Physician Assistants, and Health Care Administrators. Medicine truely is a team sport!</p>
