<div class="jumbotron-about">
    <div class="container">
        </br></br></br>
        <h1>About us</h1>
        <p>This is the sample project I built for <a href="https://onemonthrails.com">One Month Rails</a>.
        </br></br></br>
        </br></br></br>
        </p>
    </div>
</div>