<h1>Welcome to Bembi HealthCare!</h1>
<p>We connect you with doctors, through a human touch!</p>
<p>In this era of electronic health records (EHR's), studies are showing that doctors actually spend more time with computers than they do with their patients. It's not the doctor's fault. Health care laws now mandate that doctors use EHR's, and that they record larger and larger amounts of information about you every time you visit them. Couple this with a plethora of unintuitive and poorly designed EHR systems, and you have a recipe for a lonely patient.</p>
<p>Bembi is changing this. We're focused on innovating the healthcare delivery process to allow doctors to walk away from their screens, and get back to talking with and treating their patients. To do this, we are leveraging the newest technologies along with specialized staff and workflows which are available today, yet are underutilized.</p>
<p>We're super excited about this project and can't wait to see it in action. If you're interested in this, please head over to our <b>Contact Us</b> link at the top of the page. You can also learn more about us using the <b>About</b> link.</p>
<p>Thanks for stopping by!</p>