// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.jumbotron-home {
    background-image: url(image_path('home-bg.jpg'));
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
.jumbotron-about {
    background-image: url(image_path('about-bg.jpg'));
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
.jumbotron-contact {
    background-image: url(image_path('contact-bg.jpg'));
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}